# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Local environment variables
.env
secrets.toml

# LangChain / Chroma vector DB
chroma_db/

# Streamlit cache
.streamlit/

# OS-specific files
.DS_Store
Thumbs.db
