pysqlite3-binary
python-dotenv
langchain
langchain-community
langchain-openai
sentence-transformers
transformers
accelerate
torch>
pypdf
unstructured
beautifulsoup4
requests
streamlit
rank-bm25
groq
chromadb
