python-dotenv
langchain
langchain-community
langchain-openai
faiss-cpu==1.8.0.post1
sentence-transformers
transformers
accelerate
torch>
pypdf
unstructured
beautifulsoup4
requests
streamlit
rank-bm25
groq
